<ng-container *ngIf="session$ | async as session; else notFound">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{session.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{session.duration | duration}}</h6>
            <a href="#" class="btn btn-secondary">Start</a>
        </div>
    </div>
</ng-container>

<ng-template #notFound>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Unknown session</h5>
            <p class="card-text">Session not found</p>
        </div>
    </div>
</ng-template>